<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay"> 
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Imágenes de Patos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item routerLink="/home" routerDirection="root" (click)="closeMenu()">Inicio</ion-item>
          <ion-item routerLink="/list" routerDirection="root" (click)="closeMenu()">Lista de Imágenes</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

    <div class="menu-button-container"> 
      <ion-button (click)="openMenu()">☰</ion-button> 
    </div>
  </ion-split-pane>
</ion-app>